%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.main-width {
  @extend %clearfix;

  @media (min-width: 769px) {
    margin: 0 25px;
  }

  @media (min-width: 981px) {
    width: calc(100% - 70px);
    max-width: 1200px;
    margin: 0 auto;
  }
}

%outstanding-text {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0;
}

.btn {
  width: auto;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  display: inline-block;

  &--big {
    @extend %outstanding-text;

    height: 50px;
    line-height: 50px;
    padding: 0 25px;
  }

  &--small {
    text-transform: none;
    height: 35px;
    line-height: 33px;
    padding: 0 10px;
    font-weight: normal;
  }
}

.title {
  @extend %outstanding-text;

  margin-bottom: 30px;
  margin-top: 18px;

  &:after {
    content: '';
    display: block;
    position: relative;
    top: 15px;
    width: 60px;
    height: 1px;
    background: #fff;
  }
}

.subtitle {
  @extend %outstanding-text;

  font-size: 13px;
}

.description {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

%icon {
  &:before {
    font-family: 'AwsomeFont';
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
  }
}
