@font-face {
  font-family: 'AwsomeFont';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$susy: (
  columns: 12,
  gutters: 4,
  gutter-position: inside,
);

$bg-main: #2A3037;
$menu-border: #434b55;
$menu-hover: #444;
$burger-bg: #fff;

$about-part-border: $menu-border;
