@import "../../bower_components/susy/sass/susy";
@import "values";
@import "mixins";

body {
  > footer {
    @extend %clearfix;

    background-color: $bg-main;
    width: 100%;
    padding-bottom: 30px;

    form,
    .links,
    .cooperation {
      @include span(12 of 12);
    }

    h3 {
      padding-top: 50px;
      margin-bottom: 20px;
    }

    .social-media {
      a {
        margin-right: 10px;

        &:before {
          font-size: 30px;
        }
      }
    }

    p,
    a {
      @extend %icon;
    }

    .email:before {
      content: "\f003";
    }

    .phone:before {
      content: "\f095";
    }

    .fb:before {
      content: "\f09a";
    }

    .youtube:before {
      content: "\f167";
    }

    .vimeo:before {
      content: "\f27d";
    }

    .instagram:before {
      content: "\f16d";
    }

    .cooperation {
      border-top: 1px solid $menu-border;
      margin-top: 50px;
    }

    .with {
      @include span(4 of 12);

      > a img {
        width: 100%;
        margin-top: 16px;
      }
      span {
        display: block;
      }
    }

    .copyright {
      text-transform: uppercase;
      text-align: center;
      border-top: 1px solid $menu-border;
      margin-top: 50px;
      opacity: .4;
      padding-top: 30px;
      font-size: 14px;
    }

    @media (min-width: 981px) {

      form {
        @include span(9 of 12);
      }

      .links {
        @include span(3 of 12);
        padding: 0;
      }

      .cooperation {
        @include span(12 of 12);
        padding: 0;
      }

      .with {
        @include span(2 of 12);
        padding: 0 10px;
      }

      form {
        padding-left: 0;
      }
    }
  }
}
