@import "mixins";

form {
  color: #fff;
  width: 100%;

  > * {
    color: #fff;
  }

  input:not([type=button]),
  textarea {
    font-family: Roboto, sans-serif;
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 100%;
    background-color: #32383f;
    border: 0;
    border-radius: 0;
  }

  textarea {
    height:150px;
    resize: none;
  }
}
