@import "values";

h1 {
  height: 40px;
  display: inline-block;

  &:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 30px;
    margin-right: 12px;
    vertical-align: middle;
    background: url("../img/logo.png") no-repeat 0 0;
    background-size: 100%;
  }
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  width:100%;
  height: 41px;
  padding: 0 15px;
  line-height: 40px;
  background: $bg-main;
  border-bottom:solid 1px $menu-border;
}

ul {
  position:absolute;
  width:100%;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  left: 0;
  top: 40px;
  margin: 0;
  background: $bg-main;
  transition: max-height 0.5s;

  li {
    list-style: none;
    border-bottom: solid 1px $menu-border;

    a {
      display: block;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 15px;

    &:hover {
      background: $menu-hover;
      }
    }
  }

  &.opened {
    max-height: 200px;
    transition: max-height 0.5s;
  }
}

.burger-icon {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 11px;
  right: 15px;

  span {
    display: block;
    position: absolute;
    background: $burger-bg;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;

    &:nth-child(2),
    &:nth-child(3) {
      top: 8px;
    }

    &:nth-child(4) {
      top: 16px;
    }
  }

  &.opened span {
    &:nth-child(1),
    &:nth-child(4) {
      top: 10px;
      width: 0%;
      left: 50%;
     }

     &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width:768px) {
  .menu {
    .burger-icon {
      display: none;
    }

    ul {
      right: 0;
      top: 0;
      height: 40px;
      max-height: none;
      left: auto;
      display: block;
      width: auto;
      border: none;

      li {
          float: left;
          border: none;
      }
    }
  }
}
