@import "../../bower_components/susy/sass/susy";
@import "values";
@import "mixins";

section {
  @extend %clearfix;
}

.start {
  min-height: 150px;
  padding-top: 20px;
  background:rgba(0, 0, 0, .8);
  background-size: cover;
  text-align: center;
  position: relative;

  .title {
    font-size: 25px;
    margin-top: 25px;

    &:after {
      margin: 0 auto;
    }
  }

  .btn {
    background-color: rgba(0, 0, 0, .6);
    transition: padding .5s;
  }

  .show {
    display: block;
    height: 300px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity .5s;

    .btn {
      margin-top: 220px;
    }

    &--wedding {
      display: block;
      height: 300px;

      .btn {
        transform: translateY(-80px);
      }
    }

    &--fireshow {
      background-image: url('../img/fireshow.jpg');
    }

    &--lightshow {
      background-image: url('../img/lightshow.jpg');
    }

    &--firelove {
      background-image: url('../img/firelove.jpg');
    }

    &--lightlove {
      background-image: url('../img/lightlove.jpg');
      display: none;
    }

    &--fireshow:hover,
    &--lightshow:hover,
    &--wedding:hover .show {
      opacity: .6;
      color: red;
    }

    &--fireshow:hover,
    &--lightshow:hover,
    &--wedding:hover {
      .btn {
        padding: 0 30px;
      }
    }
  }

  .blog-page & {
    padding: 70px 40px 50px;
    background: rgba(0, 0, 0, .8);
  }
}

#about {
  header {
    text-align: center;
    background:rgba(0, 0, 0, .8);
    overflow: auto;
    padding: 50px;

    .title:after {
      margin: 0 auto;
    }
  }

  .content {
    @extend %clearfix;

    background-color: $bg-main;
    overflow: hidden;
  }

  .feature {
    @include span(12 of 12);

    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $about-part-border;
    }


    .subtitle {
      @extend %icon;

      margin-bottom: 25px;

      &:before {
        font-size: 20px;
        display: block;
        margin-bottom: 15px;
      }
    }

    $icons-list: (
      'one': "\f06d",
      'two': "\f1e2",
      'three': "\f110",
    );

    @each $key in map-keys($icons-list) {
      $set: map-get($icons-list, $key);
      .#{$key}:before {
        content: $set;
      }
    }
  }
}

.show {
  .image {
    background-position: center;
    background-size: cover;
    height: 400px;
  }

  $card-img-list: (
    'swingshow',
    'childrenshow',
    'violinshow',
    'mirrorshow',
    'logoshow',
    'imageshow',
    'pyroloveshow',
    'lightloveshow',
    'buugeng',
    'flary-zielone',
    'flary-czerwone',
    'kij-pirotechniczny',
    'serce',
    'napis',
    'balony',
    'farby'
  );

  @each $key in ($card-img-list) {
    &.#{$key} .image {
      background-image: url("../img/cards/#{$key}.jpg");
    }
  }

  .text {
    @include span(12 of 12);

    background: $bg-main;
    position: relative;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, .3);

    .front {
      position: relative;
      padding: 0 20px;
    }

    .buttons {
      margin-bottom: 10px;
    }
  }

  .title {
    font-size: 18px;
  }
}

@media (min-width: 381px) {
  .show .text {
    .btn {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 769px) {
  section {
    margin-bottom: 40px;
  }

  .start {
    margin-top: 40px;

    .show {
      @include span(6 of 12);

      padding: 0;

      &--lightlove {
        display: block;
      }
    }
  }

  #about .feature {
    @include span(4 of 12);

    &:first-child:after {
      display: none;
    }

    &:nth-of-type(n+2):after {
      left: 0;
      top: 0;
      width: 1px;
      min-height: 700px;
    }
  }

  .show {
    .image,
    .text {
      height: 300px;
      border: 0;

      &:not(.blog) .front {
        position: absolute;
        top: 5px;
        left: 0px;
        right: 0px;
        bottom: 0;
        padding: 0 20px;

        .buttons {
          position: absolute;
          bottom: 10px;
        }
      }

      &.blog {
        .information {
          margin: 0;
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .front {
          position: absolute;
          top: 5px;
          left: 0px;
          right: 0px;
          bottom: 0;
          padding: 0 20px;
        }
      }
    }

    .image {
      @include span(4 of 12);
    }

    .text {
      @include span(8 of 12);
    }
  }
}
