#gallery {
  height: 400px;
  width: 100%;
  position: relative;

  .prev,
  .next {
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    top: 50%;
    cursor: pointer;

    &:before {
      font-family: 'AwsomeFont';
      position: absolute;
      font-size: 30px;
      color: #8e5310;
    }
  }

  .prev {
    left: 10px;

    &:before {
      content: '\f0a8';
    }
  }

  .next {
    right: 10px;

    &:before {
      content: '\f0a9';
    }
  }

  .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 5s;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &.active {
      opacity: 1;
      transition: opacity 1s;
      z-index: 2;
    }
  }

  @media (min-width: 769px) {
    height: 600px;
  }
}
