@import "../../bower_components/susy/sass/susy";
@import "mixins";

body {
  min-width: 320px;
  position: relative;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  letter-spacing: .5px;

  * {
    box-sizing: border-box;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.part-main,
.part-description {
  @include span(3 of 12);

  background-color: red;
}

h1,
h3 {
  @extend %outstanding-text;

  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: none;

  &.showed {
    display: block;
  }

  .btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
